* {
  box-sizing: border-box;
}

:root {
  --orange: #feac5e;
  --purple: #c779d0;
  --white: #fff;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
}
